.gan {color: blue;
      font-size: 22px; 

      margin-left:10px;
      margin-bottom: 30px; 

      }


.gg2 {color: red;}       

a{text-decoration: none ;}

.htm {margin-left:10px ;
      margin-top: 10px;}

.uuu {margin-bottom:10px;}

.ttt { margin-left: 10px ;
       margin-bottom: 5px;
       margin-top: 10px; }

.fyy { margin-left: 10px;
       margin-right: 5px; }

.kubiki { height: 56px; 
          width: 56px;
          background-color: #3D58A6;
          color: #fff;
          padding-left: 20px;
          padding-top: 20px;

          margin-left: 10px;

           }

.maisi { color: #0066ff; 
         font-size: 22px; 
         margin-left: 10px;
         margin-top: 5px;}           

.lor { font-size: 22px;
       margin-left: 10px;
       margin-top: 20px; 
       margin-bottom: 20px;
       } 

 .logo { margin-top: 20px; } 

 .foto { margin-left: 10px;
         margin-bottom: 10px; }   

 p {margin-left: 10px;
    margin-top:10px ;}                  

 .dabla { margin-bottom: 15px; }   


 .info { color: blue; 
         font-size:22px;

          margin-top: 100px;
          margin-left: 500px; }


 .misamarti {font-size: 15px;
             color: #c2d6d6 ;
             }         

 .miss {margin-left: 515px;
        color: #00004d;} 

 .tel { margin-left: 550px; }       

 .fos { margin-left: 530px; 
        margin-bottom: 200px;}